@model IEnumerable<SampleProductApplication.Models.Product>

@{
    ViewData["Title"] = "Card List";
}

<h1>Card List</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/@item.Pic" alt="@item.Name" width="100%" />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body"> 
                            <p class="card-text"><b>Category: </b>@item.Category</p>
                            <p class="card-text"><b>Price: </b>@item.Price</p>
                            <p class="card-text"><b>Quanitity: </b>@item.Quantity</p>
                            <p class="card-text"><b>Description: </b>@item.Description</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary" asp-action="BuyProduct" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>}
</div>